.localizacao
{
    width: 100%;
    height: 700px;
    position: relative;
    margin-top: 2px;
    margin-bottom: 55px;

    .maps{
        padding-top: 20px;
        width: 100%;
        height: 100%;
    }
}