<mat-card class="example-card">
    <img mat-card-image src="assets/img/{{imagem}}">
    <mat-progress-bar mode="determinate" value="20" class="linha"></mat-progress-bar>
    <mat-card-content>
        <p class="desc">
           {{titulo}}
           <strong>{{subtitulo}}</strong>
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="warn"><mat-icon>add_shopping_cart</mat-icon>COMPRAR</button>
        <button mat-raised-button color="basic"><mat-icon>share</mat-icon></button>
    </mat-card-actions>
</mat-card>