.clientes
{
    width: 100%;
    height: 350px;

    .box
    {
        width: 100%;
        display: flex;
        justify-content: space-around;
        height: 200px;
        padding-top: 20px;

        img
        {
            width: 100%;
            height: 100%;
        }

        .foto
        {
            width: 150px;
            height: 150px;
            float: left;
            text-align: center;
            padding-bottom: 50px;
            margin: 2%; 
        } 
    }
}