<div class="clientes">
    <titulo texto="CLIENTES"></titulo>
    <div class="box">
        <div class="foto">
            <img mat-card-image src="assets/img/cemig.png">
        </div>   
        <div class="foto">
            <img mat-card-image src="assets/img/cielo.jpg">
        </div>
        <div class="foto">
            <img mat-card-image src="assets/img/bv_financeira.png" >
        </div>
        <div class="foto">
            <img mat-card-image src="assets/img/copagaz.png">
        </div>
        <div class="foto">
            <img mat-card-image src="assets/img/ecovias.jpg">
        </div>
        <div class="foto">
            <img mat-card-image src="assets/img/oticas_diniz.png">
        </div>
        
    </div>
</div>