

.Produtos    
{
    font-family: Arial;
    font-size: 14pt;
    width: 100%;
    margin: 0% 1% 1% 0%;
    padding: 1% 0% 1% 0%;
    float: left;
    height: 700px;

    .prod
    {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}