<div class="rodape">
    <div class="dados">
        <div class="titulo">
            <span class="material-icons icone">forward_to_inbox</span>
            <p class="tit texto">Entre em contato conosco: marcelo.aeida@gmail.com</p>
        </div>
        <div class="endereco">
            <span class="material-icons icone">maps_home_work</span>
            <p class="end texto">Av. Diógenes Ribeiro de Lima, 2346, Alto de Pinheiros - SP</p>
        </div>
        <div class="contato">
            <span class="material-icons icone">call</span>
            <p class="cont texto">Cel:(11) 9.4174-1969</p>
        </div>
    </div>
    <div class="registro">
        <div class="dados2">
            <span class="material-icons">copyright</span>
            <p class="reg"> - Marcelo Vieira Almeida</p>
        </div>
    </div>
    
</div>