<div class="Sobre">
    <titulo texto="SOBRE NÓS"></titulo>
    <div class="fundo">
        <span id="s">S</span>
        <p class="text1">            
            omos uma empresa que vem oferecendo aos clientes a <strong>30 anos</strong> no mercado,
            empre equipamentos e softwares de
            qualidade visando sempre atender de forma mais rapida e
            segura possível com tudo o que ha de mais tecnologico
            lançado no mercado, claro sem deixar a segurança de lado.
        </p>        
        <p class="text2"> 
            Para ser uma empresa de sucesso, contamos 
            com uma equipe de profissionais altamente
            qualificados em todos os setores 
            desde o atendimento até a entrega do produto 
            para garantir os melhores produtos para você.
        </p>
    </div>
</div>
